@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
  font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 100%; /* הגבלת הרוחב למקסימום */
  padding: 20px; /* ריווחים סביב התוכן */
  display: flex; /* תצוגה כמערך גמיש */
  flex-wrap: wrap; /* אפשר פיצול על המסך */
  justify-content: center; /* כדי למקד את הריבועים באמצע */
  margin: 0;
}

.changeStateBtn {
  justify-content: center;
  align-items: center;
}
.btnInOrder{
  height: 40px;
  width: 110px;
}

.btnInBox {
  height: 40px;
  width: 100px;
  margin-left: 3px;
  margin-right: 0%;
  padding: 0;
}

.box {
  border-color: #006D77;
  border-radius: 3px;
  border-style: solid;
  margin: 10px; /* ריווחים בין הריבועים */
  width: 360px; /* רוחב קבוע */
  max-width: 100%; /* מונע הגדלה יתרה */
  box-shadow: 0 1px 13px 0 rgba(0, 0, 0, 0.4);
  text-align: center; 
  padding: 20px; 
  background-color: #ffe3d8; 
  display: flex; /* הוספת תכונת תצוגה גמישה */
  flex-wrap: wrap; /* אפשרות לגלישה */
  justify-content: space-around; /* ריווח שווה בין האלמנטים */
}

.bold {
  color: #000000;
}

.boxShow, #waitingRequests {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 5%;
  justify-content: center;
  align-items: center;
}
