@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

/* Modal */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.input {
    height: 40px;
    margin-bottom: 7px;
    border-color: #636363;
}

/* Modal Content */
.modal-content {
    background-color: #EDF6F9;
    padding: 10px; /* Reduced padding */
    border: 1px solid #343131;
    width: 70%; /* Reduced width */
    max-width: 500px; /* Reduced max-width */
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.close {
    position: absolute;
    color: #000;
    top: 5px;
    right: 10px;
    margin-right: 5px;
    font-size: 28px; /* Reduced font size */
    font-weight: bold;
    cursor: pointer;
}

/* Ensure the spacing between lines is smaller */
.modal-content h3 {
    margin: 5px 0; /* Reduced margin */
}


.close {
    position: absolute;
    color: #000;
    top: 5px;
    right: 10px;
    margin-right: 5px;
    font-size: 34px;
    font-weight: bold;
    cursor: pointer;
}

.orderh3 {
    margin-bottom: 2px;
    text-align: left;
}

h2 {
    color: #343131;
    font-size: 40px;
}

#hour {
    font-size: 22px;
    display: block;
    background: none;
    background-image: none;
    border: 1px solid #ffffff;
    color: #636363;
    border-radius: 0;
    transition: 0.25s ease, box-shadow 0.25s ease;
    outline: 0;
    border-color: #636363;
}
.btnInOrder{
    background-color:#83C5BE;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease;
    height: 45px;
    width: 130px;
}

.btnInOrder:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
#finalPrice {
    color: #83C5BE;
    font-size: larger;
}
.h3Order {
    margin-right: 10px;
    margin-bottom: 2px;
}

.showDetailBtn {
    margin-bottom: 0px;
    width: 160px;
    height: 35px;
    background-color: #E29578;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.showDetailBtn:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.close:hover,
.close:focus {
    color: #006D77;
    text-decoration: none;
    cursor: pointer;
}

.colorfull {
    color: #83C5BE;
}

/* Responsive Design */
@media screen and (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}

@media (max-width: 768px) {
    body {
        padding: 10px;
        flex-direction: column;
    }

    .input {
        font-size: 0.9em;
    }

    .modal-content {
        padding-top: 25%;
        padding: 15px;
        height: 60%;
    }
    h1{
        margin-top: 30px;
    }

    h2 {
        font-size: 30px;
    }

    #hour {
        font-size: 18px;
    }

    #finalPrice {
        font-size: medium;
    }

    .close {
        font-size: 28px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 5px;
    }

    .input {
        font-size: 0.8em;
    }

    .modal-content {

        padding: 10px;        
        height: 55%;
    }

    h2 {
        font-size: 25px;
    }

    #hour {
        font-size: 16px;
    }

    #finalPrice {
        font-size: small;
    }

    .close {
        font-size: 24px;
    }
}

/* Calendar styles */
#Calendar {
    justify-content: center;
}

.react-calendar {
    width: 100%;
    max-width: 600px;
    height: auto;
    background: #f0f0f0;
    border: 1px solid #006D77;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.react-calendar__month-view__weekdays__weekday abbr {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
}

.react-calendar__tile {
    font-size: 24px;
    min-height: 48px;
    padding: 10px;
    color: #555;
}

.react-calendar__tile--disabled {
    background: #f0f0f0;
    color: #ccc;
    border-color: #343131;
    border-radius: 2px;
}

.react-calendar__tile--active {
    background: #e0e0e0;
    color: #333;
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
    font-size: 20px;
    color: #006D77;
}

.react-calendar__navigation__arrow:hover {
    background: #ddd;
    height: 18px;
}