@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');


img:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-duration: 5s;
    transition-duration: 5s;
}
.photos img {
    max-width: 100%;
    height: auto;
  }
  
  .photos img.portrait {
    height: 200px;
  }
  
  .photos img.landscape {
    width: 200px;
  }
  @media (max-width: 1024px) {
    .photos img.portrait {
        height: 150px;
    }

    .photos img.landscape {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .photos img.portrait {
        height: 120px;
    }

    .photos img.landscape {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .photos img.portrait {
        height: 100px;
    }

    .photos img.landscape {
        width: 100px;
    }
}