@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body, html {
    min-width: 100%;
    background-color: #f8e3db;
    height: 100%;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 20px;
    width: 100%;
}

#inputAbout {
    border: 5px solid #83C5BE;
    border-radius: 4px;
    padding: 10px;
    font-family: 'Quicksand', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    margin-bottom: 20px;
    display: inline-block;
    width: 700px;
    height: auto;
    min-width: 50px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0px;
}

@media (max-width: 1024px) {
    #inputAbout {
        width: 80%;
        font-size: 0.9em;
    }
}

@media (max-width: 768px) {
    #inputAbout {
        width: 90%;
        font-size: 0.8em;
    }
}

@media (max-width: 480px) {
    #inputAbout {
        width: 95%;
        font-size: 0.75em;
    }
}
